

body{
    margin: 0;
}

header{
    margin: 0;
    color: white;
    padding: 0px;
    width: 100%;
    background-color: black
}

/* Front Cover */

.cover_Title{
    font-size: 60px;
    letter-spacing: 5px;
    font-family: OstrichSans-Light; 
    margin: 0;
    display: inline-block;
    
    animation: typing-text 2s steps(11), blink 0.5s infinite alternate;
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
}

.cover_center{ 
    padding-top: 290px;
    text-align: center;
}

.cover_img{
    height: 700px;    
    background: url(Images/Mountain.png) no-repeat center; 
    background-size: cover;
}


/* Navigation Bar */

.nav_bar{
    margin: 0;
    width: auto;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    padding-top: 15px;
    padding-bottom: 10px;
    display: inline-block;
    margin-left: 25px;
}

nav a{
    font-size: 25px;
    color: white;
    text-decoration: none;
    font-family: OstrichSans-Medium;
    letter-spacing: 2px;
}

/* Header 2 */ 

h2{
    font-size: 50px;
    letter-spacing: 5px;
    margin:0;
    text-align: center;
    padding-bottom: 10px;
    font-family: OstrichSans-Medium;
}

/* About */ 

.about_size{
    width: 60%;
    margin: auto;
    margin-bottom: 110px;
    margin-top: 110px;
}

.about_block{
    margin:0;
    width: 60%;
    padding: 70px 150px;
    border: 6px solid black;
}

p{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    float: left;
}
/* Animation */ 

@keyframes typing-text{
    from{
        width: 0;
    }
    to{
        width: 267px;
    }
}

@keyframes blink{
    from{
        border-color: transparent;
    }
    to{
        border-color: black;
    }
}

/* Fonts */ 

@font-face{
    font-family: OstrichSans-Light;
    src: url("Fonts/ostrich-sans-master/OstrichSans-Light.otf");
}

@font-face{
    font-family: OstrichSans-Medium;
    src: url("Fonts/ostrich-sans-master/OstrichSans-Medium.otf");
}

@font-face{
    font-family: OstrichSans-Black;
    src: url("Fonts/ostrich-sans-master/OstrichSans-Black.otf");
}